.App {
	font-size: 19px;
	width: 1200px;
	margin: 10px auto;
}

a {
	color: #470aee;
}

code {
	margin: 2px;
	padding: 2px;
	border-radius: 10px;
	background: antiquewhite;
}

em {
	margin: 2px;
	padding: 2px;
	border-radius: 10px;
	background: rgba(255, 127, 80, 0.603);
}
